.red {
    color: red;
    font-weight: bold;
}

.blue {
    color: dodgerblue;
    font-weight: bold;
}

.purple {
    color: rgb(191, 0, 191);
    font-weight: bold;
}

.icon-size {
    font-size: 1.0em;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: auto;
}

figure {
    flex: 0 0 auto;
    margin-left: 5px;
    margin-right: 5px;
}

figcaption {
    text-align: center;
}